<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/css/main.css" />
        <link
            rel="stylesheet"
            href="/css/admin.css" />
        <script
            src="/js/admin.js"
            async></script>
        <title>Administratör - Matraketen</title>
    </head>
    <body>
        <%- include('partials/header') -%>
        <main>
            <div id="add-meal">
                <h1>Lägg till måltid</h1>
                <form id="add-meal-form">
                    <input
                        type="text"
                        name="name"
                        placeholder="Maträtt"
                        required />
                    <input
                        type="number"
                        name="cost"
                        placeholder="Pris"
                        required />
                    <input
                        type="text"
                        name="imageName"
                        placeholder="Filnamn på bild"
                        required />
                    <select
                        name="restaurant"
                        required>
                        <option
                            selected
                            disabled
                            hidden
                            value="default">
                            Erbjuds av
                        </option>
                        <% for (const restaurant of menu) { %>
                        <option
                            class="restaurant-<%= restaurant['id'] %>"
                            value="<%= restaurant['name'] %>">
                            <%= restaurant['name'] %>
                        </option>
                        <% } %>
                    </select>
                    <textarea
                        name="description"
                        placeholder="Beskrivning"
                        required></textarea>
                    <textarea
                        name="contents"
                        placeholder="Innehållsförteckning
En ingrediens per rad"
                        required></textarea>
                    <button type="submit">Lägg till</button>
                </form>
            </div>
            <div id="remove-meal">
                <h1>Ta bort måltid</h1>
                <form id="remove-meal-form">
                    <% for (const restaurant of menu) { %> <% for (const meal of
                    restaurant['meals']) {%>
                    <div class="meal-<%= meal['id'] %>">
                        <p><%= restaurant['name'] %> - <%= meal['name'] %></p>
                        <button
                            type="submit"
                            name="removeItem"
                            data-id="<%= meal['id'] %>"
                            value="<%= restaurant['name'] %> - <%= meal['name'] %>">
                            Ta bort
                        </button>
                    </div>
                    <% } %> <% } %>
                </form>
            </div>
            <div id="add-restaurant">
                <h1>Lägg till restaurang</h1>
                <form id="add-restaurant-form">
                    <input
                        type="text"
                        name="name"
                        placeholder="Restaurangnamn"
                        required />
                    <input
                        type="text"
                        name="logotypeName"
                        placeholder="Filnamn på logotyp"
                        required />
                    <button type="submit">Lägg till</button>
                </form>
            </div>
            <div id="remove-restaurant">
                <h1>Ta bort restaurang</h1>
                <form
                    id="remove-restaurant-form"
                    method="POST">
                    <% for (const restaurant of menu) { %>
                    <div class="restaurant-<%= restaurant['id'] %>">
                        <p><%= restaurant['name'] %></p>
                        <button
                            type="submit"
                            name="removeRestaurant"
                            data-id="<%= restaurant['id'] %>"
                            value="<%= restaurant['name'] %>">
                            Ta bort
                        </button>
                    </div>
                    <% } %>
                </form>
            </div>
        </main>
        <%- include('partials/footer') -%>
    </body>
</html>
