<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/css/main.css" />
        <link
            rel="stylesheet"
            href="/css/cart.css" />

        <!-- Pass data to be used in JS -->
        <script>
            const cart = <%- JSON.stringify(cart) %>;
            const shipping = <%- JSON.stringify(shipping) %>
        </script>
        <script
            src="/js/cart.js"
            async></script>

        <title>Kundvagn - Matraketen</title>
    </head>
    <body>
        <%- include('partials/header') -%>
        <main>
            <section id="cart-items">
                <% if (Object.keys(cart).length === 0) { %>
                <p>Produkter i kundvagnen kommer visas här</p>
                <% } %>
                <% for (const [id, item] of Object.entries(cart)) { %>
                    <div class="item">
                        <div class="image-container logo">
                            <img src="/images/<%= item['logo_name'] %>" />
                        </div>
                        <div class="image-container">
                            <img src="/images/<%= item['image_name'] %>" />
                        </div>
                        <p><%= item['name'] %></p>
                        <div class="item-counter">
                            <img
                                src="/images/increment_item.webp"
                                class="add-to-cart"
                                data-id="<%= id %>" />
                            <p id="item-count-<%= id %>"><%= item['count'] %></p>
                            <img
                                src="/images/decrement_item.webp"
                                class="remove-from-cart"
                                data-id="<%= id %>" />
                        </div>
                    </div>
                <% } %>
            </section>

            <section>
                <div id="summary">
                    <p>
                        <% for (const item of Object.values(cart)) { %>
                            <span><%= item['name'] %><br /></span>
                        <% } %>
                        <br /><br />
                        Frakt<br />
                        Total
                    </p>
                    <p id="pricing">
                        <% for (const [id, item] of Object.entries(cart)) { %>
                            <%= item['cost'] %> * <span id="sum-count-<%= id %>"><%= item['count'] %></span><br />
                        <% } %>
                        <br /><br />

                        <span id="shipping"><%= shipping %></span><br />
                        <span id="total">
                            <%  let sum = shipping;
                                for (const item of Object.values(cart)) {
                                    sum += item['cost'] * item['count']
                                } %>
                            <%= sum.toFixed(2) %>
                        </span>
                        SEK
                    </p>
                    <a
                        href="confirmation"
                        tabindex="-1"
                        ><button class="confirm-order">Betala nu →</button></a
                    >
                </div>
            </section>
        </main>
        <%- include('partials/footer') -%>
    </body>
</html>
