<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Meny - Matraketen</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
            crossorigin="anonymous" />
        <link
            rel="stylesheet"
            href="/css/main.css" />
        <link
            rel="stylesheet"
            href="/css/menu.css" />
    </head>

    <body class="bg-light">
        <%- include('partials/header') -%>
        <main>
            <% for (const restaurant of menu) { %>
                <section class="resturang mx-auto">
                    <div class="headbar">
                        <img
                            class="bild1"
                            src="/images/<%= restaurant['logo_name'] %>"
                            alt="bildloga" />
                        <img
                            class="bild2"
                            src="/images/<%= restaurant['logo_name'] %>"
                            alt="bildloga" />
                    </div>
                    <div class="menu-items">
                        <% for (const meal of restaurant['meals']) { %>
                            <div class="item">
                                <a href="product?id=<%= meal['id'] %>">
                                    <img
                                        src="/images/<%= meal['image_name'] %>"
                                        alt="bild" />
                                    <p>
                                        <%= meal['name'] %> <br />
                                        <%= meal['cost'].replace('.', ',') %> kr
                                    </p>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </section>
            <% } %>
        </main>
        <%- include('partials/footer') -%>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            crossorigin="anonymous"></script>
    </body>
</html>
