<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/css/main.css" />
        <link
            rel="stylesheet"
            href="/css/product.css" />

        <!-- Prevent cart behaviour on product page -->
        <script>
            const cart = null;
        </script>
        <script
            src="js/cart.js"
            defer></script>
        <title>Produkt - Matraketen</title>
    </head>
    <body>
        <%- include('partials/header') -%>

        <main>
            <div id="item">
                <h1><%= product['name'] %></h1>
                <img src="/images/<%= product['image_name'] %>" />
            </div>
            <div id="nav-buttons">
                <a
                    href="menu"
                    tabindex="-1">
                    <button>← Till meny</button>
                </a>
                <button
                    class="add-to-cart"
                    data-id="<%= product['id'] %>">
                    Lägg i kundvagn
                </button>
                <a
                    href="cart"
                    tabindex="-1">
                    <button>Betala nu →</button>
                </a>
            </div>
            <div id="product-contents">
                <h2>Innehåller</h2>
                <ul>
                    <% product['ingredients'].forEach(ingredient => { %>
                    <li><%= ingredient %></li>
                    <% }) %>
                </ul>
            </div>

            <div id="description">
                <h2>Beskrivning</h2>
                <p><%= product['description'] %></p>
            </div>
        </main>
        <%- include('partials/footer') -%>
    </body>
</html>
