<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/css/main.css" />
        <link
            rel="stylesheet"
            href="/css/profile.css" />
        <script
            src="/js/user.js"
            async></script>
        <title>Profil - Matraketen</title>
    </head>
    <body>
        <%- include('partials/header') -%>
        <main>
            <div id="update-details">
                <h1>Uppdatera personuppgifter</h1>
                <form id="update-details-form">
                    <input
                        type="text"
                        name="firstName"
                        placeholder="Förnamn"
                        value="<%= user['first_name'] %>"
                        required />
                    <input
                        type="text"
                        name="lastName"
                        placeholder="Efternamn"
                        value="<%= user['last_name'] %>"
                        required />
                    <input
                        type="email"
                        name="email"
                        placeholder="e-postadress"
                        value="<%= user['email'] %>"
                        required />
                    <input
                        type="tel"
                        name="phoneNumber"
                        placeholder="Telefonnummer"
                        value="<%= user['phone_number'] %>"
                        required />
                    <input
                        type="text"
                        name="address"
                        placeholder="Adress"
                        value="<%= user['address'] %>"
                        required />
                    <input
                        type="text"
                        name="postcode"
                        placeholder="Postnummer"
                        value="<%= user['postcode'] %>"
                        required />
                    <div>
                        <input
                            type="checkbox"
                            name="newsletter"
                            <%= user['newsletter'] ? 'checked' : '' %>
                            id="cb-news"/>
                        <label for="cb-news">
                            Jag prenumererar på Matraketens nyhetsbrev och får information om
                            rabatter och erbjudanden
                        </label>
                        <span class="checkmark"></span>
                    </div>
                    <button type="submit">Uppdatera</button>
                </form>
            </div>
            <div id="change-password">
                <h1>Byt lösenord</h1>
                <form id="change-password-form">
                    <input
                        type="password"
                        name="currentPassword"
                        placeholder="Nuvarande lösenord"
                        required />
                    <input
                        type="password"
                        name="newPassword"
                        placeholder="Nytt lösenord" />
                    <input
                        type="password"
                        name="repeatPassword"
                        placeholder="Repetera nytt lösenord"
                        required />
                    <button type="submit">Bekräfta byte</button>
                </form>
            </div>
        </main>
        <%- include('partials/footer') -%>
    </body>
</html>
